.header {
  height: 160px;
  transition: all 0.5s ease;
}
.theme-color {
  background-color: #6ead4e;
}
.text-color {
  color: #6ead4e;
  padding-bottom: 5px;
  border-bottom: 2px solid #6ead4e;
}

.header-link:hover,
.link:hover {
  color: #6ead4e;
  padding-bottom: 5px;
  border-bottom: 2px solid #6ead4e;
  transition: all .2s ease;
}

.border-color {
  border-color: #6ead4e;
}

.hambargur-bar {
  height: 3px;
  width: 35px;
  margin: 8px 0;
  background-color: black;
}
